################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/sln_Aspirantes_Universidad/v17/.suo
/aspirantes_negocio/bin/Debug
/aspirantes_negocio/obj/Debug
/aspirantes_presentacion/obj/Debug/aspirantes_presentacion.csproj.SuggestedBindingRedirects.cache
/.gitignore
